@use './variaveis' as *;

.container {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem auto;
    text-align: center;
    color: $claro;
    box-shadow: 0 0 25px rgba(247, 27, 228, 0.4);
    overflow-y: auto;
    max-height: 80vh;
    /* scroll controlado */

    /* scroll estilizado */
    scrollbar-width: thin;
    scrollbar-color:$foco;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $foco;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    h2 {
         font-size: 35px;
        margin-bottom: 1rem;
    }

    h3{
        margin-top: 8vh;
        font-size: 35px;
    }

    .mensagem-vazia{
        padding-top: 2vh;
        font-size: 15px;
    }

    .preview {
        width: 100%;
        aspect-ratio: 16 / 9;
        background: $fundo;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        video,
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    
}