.corpo {
  background-image: url('../assets/fundo1.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100vw;
  height: 100vh;
  min-height: 100vh; 
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ebe1e11a;
    backdrop-filter: blur(1.0px); 
  }

  > * {
    position: relative;
    z-index: 1;
  }


  @media (max-width: 1024px) {
    background-position: center top; 
  }

  @media (max-width: 768px) {
    background-position: center top;
    background-size: cover;
    height: auto; 
    min-height: 100vh;
  }

  @media (max-width: 480px) {
    background-position: center top;
    background-size: cover;
    height: auto;
    min-height: 100vh;
  }
}
