@use './variaveis' as *;

.map-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  align-items: center;
  margin-left: 15%;
}

.painel {
  width: 350px;
  background: rgba(0, 0, 0, 0.65);
  padding: 25px;
  border-radius: 20px;
  color: #fff;
  border: 2px solid #6a4588;
}

.painel h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.grupo {
  margin-bottom: 25px;
  padding: 15px;
}

.grupo h3 {
  margin-bottom: 10px;
  color: #fff
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

.btn-loc {
  width: 100%;
  background: $botao-azul;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-gerar {
  width: 100%;
  background: $botao-azul;;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.map-container {

  height: 650px;
  width: 850px;
  border-radius: 15px;

}
